@font-face {
    font-family: 'Darkline';
    src: url('../fonts/Darkline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Romanica';
    src: url('../fonts/Romanica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color: #a9d8e1;
}


.container {
    display: flex;
}

.btn-primary{
    width: 15vh;
    border-radius: inherit;
    background-color: #4782a4 !important;    
}

.offcanvas-body {
background-color: #a9d8e1 !important;
}

.sidebar {
    width: 365px;
    height: 85vh;
    background: rgb(0 0 0 / 10%);
    padding: 20px;
    color: white;
}

.offcanvas-header{
    background-color: #a9d8e1 !important;
}

.sidebar-header h2 {
    text-align: center;
    font-family: 'Romanica';
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 15px 0;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-family: 'Romanica';
    display: block;
    padding: 10px;
    letter-spacing: 3px;
    border-radius: 5px;
    border: 1.5px solid #6d869f;
    transition: background-color 0.3s ease;
}

.sidebar-menu li a:hover {
    background-color: #34495e;
}

.main-content {
    width: 100%;
    padding: 30px;
    background-color: white;
    flex-grow: 1;
    flex-basis: 200px;
}


h2 {
    color: #34495e;
    margin-bottom: 20px;
    font-family: 'Romanica';
}


.content-section {
    display: none;
}


.form-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin-top: 20px;
}

.form-event {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    margin-top: 20px;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
input[type="file"] {
    font-family: 'Romanica';
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ea7446;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
input[type="file"]:focus {
    border-color: #ea7446;
    outline: none;
}

textarea {
    resize: vertical;
    height: 150px;
}

.roles{
    font-family: 'Romanica';
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ea7446;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.fecha{
    font-family: 'Romanica';
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ea7446;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

h3 {
    margin-top: 0;
    font-family: 'Romanica';
    font-size: 20px;
    color: #34495e;
    letter-spacing: 2px;
}

form label {
    font-size: 16px;
    font-family: 'Romanica';
    color: #34495e;
}

/* Encabezado */
header {
    margin-bottom: 40px;
}

 h1 {
    text-align: center;
    font-family: 'Romanica';
    font-size: 2.5em;
    color: #2c3e50;
    letter-spacing: 5px;
}

.p-opcion{
    color: #2c3e50;
    text-align: center;
    font-family: 'Romanica';
    letter-spacing: 2px;
    font-size: 2.5vh;
  }
  
  
  .btn-send{
    background-color: #ea7446;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 2vh;
  }
  .btn-send:hover {
    background-color: #3ccf31;
    transition: background-color 0.3s ease;
  }
  
  .btn-delete{
    background-color: #ea7446;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 2vh;
  }

  .btn-delete:hover {
    background-color: #b93c3c;
    transition: background-color 0.3s ease;
  }
  
  @media (max-width: 400px) {
    .container{

        display: block;
    }
        
    .sidebar {
        width: revert;
    }

    .main-content{
        position: relative;
        width: 37vh;
    }

    .form-user{
        width: 350px;
    }

    .form-event{
        width: 350px;
    }
   }

   @media (max-width: 620px) {
    .container{

        display: block;
    }
        
    .sidebar {
        width: revert;
    }

    .main-content{
        position: relative;
        width: 88.5vh;
    }

    .form-user{
        width: 350px;
    }
    .form-event{
        width: 350px;
    }
   }

   @media (max-width: 480px) {
    .container{

        display: block;
    }
        
    .sidebar {
        width: revert;
    }

    .main-content{
        position: relative;
        width: 43vh;
    }

    .form-user{
        width: 350px;
    }

    .form-event{
        width: 350px;
    }
   }

  