

  .con-curazu2{
    opacity: 100%;
    transform: translateY(15vh);
    overflow: hidden;
  }

  .img-curve{
    width: 100%; 
    height: auto;
  }

.con-curve1 {
  opacity: 100%;
  transform: translateY(-33vh);
  overflow: hidden;
  margin-bottom: -33vh;
}

.con-curve2 {
  opacity: 100%;
  transform: translateY(-8vh);
  overflow: hidden;
  margin-bottom: -75vh; 
}

.con-curazu {
  opacity: 100%;
  transform: translateY(-10vh);
  overflow: hidden;
  margin-bottom: -10vh;
}


  
  @media (max-width: 768px) {
    .con-curve1{
      transform: translateY(-18vh);
    }

    .con-curve2{
      transform: translateY(18vh);
    }
     }

     @media (max-width: 480px) {
      .con-curve1 {
        transform: translateY(-10vh);
        }

        .con-curve2{
          transform: translateY(37vh);
        }  
      
    }
    
  /*  @media (max-width: 1000px) {
      .con-curve1 {
        transform: translateY(-29vh); 
      }

      .con-curve2{
        transform: translateY(25vh);
      }
    }
    
    @media (max-width: 1000px) {
      .con-curve {
          transform: scaleX(1); 
      }
    }

    @media (max-width: 320px) {
    
      .img-curve {
        width: 30vh;
      }
    }

