
.con-curve1{
    opacity: 100%;
    transform: translateY(-33vh);
    overflow: hidden;
  }
  
  .con-curve2{
    opacity: 100%;
    transform: translateY(-75vh);
    overflow: hidden;
  }

  .con-curazu{
    opacity: 100%;
    transform: translateY(-10vh);
    overflow: hidden;
  }

  .img-curve{
    width: 100%; 
    height: auto;
  }

  
  @media (max-width: 768px) {
    .con-curve {
        transform: scaleX(1); 
    }
     }

     @media (max-width: 480px) {
      .con-curve {
          transform: scaleX(1); 
        }
      
    }
    
    @media (max-width: 400px) {
      .con-curve {
          transform: scaleX(1); 
      }
    }
    
    @media (max-width: 1000px) {
      .con-curve {
          transform: scaleX(1); 
      }
    }

    @media (max-width: 320px) {
    
      .img-curve {
        width: 30vh;
      }
    }