.testimonio-form {
    background-color: #091854;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1175px;
    margin: auto;
}

.testimonio-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.testimonio-form input[type="text"],
.testimonio-form input[type="email"],
.testimonio-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.testimonio-form textarea {
    resize: vertical;
    height: 150px;
}

.testimonio-form button {
    background-color: #ea7446;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.testimonio-form button:hover {
    background-color: #cf7031;
}

@media (max-width: 600px) {
    .testimonio-form {
        padding: 15px;
    }

    .testimonio-form h2 {
        font-size: 20px;
    }

    .testimonio-form input[type="text"],
    .testimonio-form input[type="email"],
    .testimonio-form textarea {
        font-size: 14px;
    }

    .testimonio-form button {
        font-size: 14px;
    }
}

.p-white{
    color: white;
    text-align: center;
    padding: 7px; 
    font-weight: bold;
}

.p-orange{
    color: rgb(255, 109, 56);
    text-align: center;
    padding: 8px; 
    font-weight: bold;
}

.btn-send{
    text-align: center;
}

h3 {
    text-align: right;
    line-height: 2.5;
    font-family: Brush Script MT, cursive;
    font-size: 3.5em;
    color: #ffffff;
    margin-right: 30px;
  }
  
